html, body {
    height: 100vh;
    flex-direction: column;
}

.formLogin {
    max-width: 300px;
}

.navbar-btns ul li{
    margin: 10px;
}

.div-pets p {
    margin-right: 10px;
}

header nav img {
    height: 60px;
    width: 60px;
}

.cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin:30px;
}

.cardItem img {
    width: 250px;
}

#listaRacoes {
    display: flex;
    flex-wrap: wrap;
}

footer {
    padding: 50px;
    display: flex!important;
    flex-direction: column;
    color: blanchedalmond;
    align-items: center;
    background-color: rgb(0, 96, 240);
    width: 100%;
}